useDynLib(mvp, .registration=TRUE)
exportPattern("^[[:alpha:]]+")

import("methods")

importFrom(Rcpp, evalCpp)
importFrom("mpoly","as.mpoly","is.mpoly","mp")
importFrom(partitions,compositions)
importFrom(magic, circulant)

S3method(as.mpoly,mvp)
S3method(constant, mvp)
S3method("constant<-", mvp)
S3method("coeffs<-", mvp)
S3method(as.function, mvp)
S3method(constant, mvp)
S3method(deriv, mvp)
S3method(aderiv,mvp)
S3method(print,mvp)
S3method(Ops,mvp)

S3method(constant, numeric)
